mat-card {
  max-width: 18rem;
  margin: auto;
}

mat-form-field {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.button-group {
  width: max-content;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}

button:not(:first-child) {
  margin-left: 0.5rem;
}

.general-error {
  color: red;
}
