<mat-card>
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
    <mat-card-subtitle>Please enter your login details</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input matInput type="text" placeholder="Username"
          formControlName="username" required>
        <mat-error *ngIf="loginForm.invalid">
          {{ getErrorMsg("username") }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password"
          formControlName="password" required>
        <mat-hint>Min 8 characters.</mat-hint>
        <mat-error *ngIf="loginForm.invalid">
          {{ getErrorMsg("password") }}
        </mat-error>
      </mat-form-field>
      <p class="general-error">{{ errorDetails }}</p>
      <div class='button-group'>
        <button mat-raised-button color="primary" type="submit">Log-In</button>
        <button mat-raised-button type="button" (click)="loginService.logout()">
          Log-Out
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
